Source: breeze
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/workspace/breeze
Vcs-Browser: https://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/breeze
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/breeze

Package: breeze-cursor-theme
Section: x11
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Default Plasma cursor theme.
 This is the default cursor theme for the KDE Plasma desktop.
 .
 This package is part of the KDE base workspace module.
