Source: breeze
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/workspace/breeze
Vcs-Browser: https://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/breeze
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/breeze

Package: breeze
Section: metapackages
Architecture: any
Depends: breeze-cursor-theme (= ${binary:Version}), 
         breeze-icon-theme (= ${binary:Version}),
         kwin-style-theme (= ${binary:Version}),
         kde-style-breeze (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: Default Plasma theme (meta-package).
 This is the default theme for the KDE Plasma desktop.
 This package includes wallpapers, icons, cursors, and styles
 for the Plasma 5 desktop.
 .
 This package is part of the KDE base workspace module.

Package: breeze-cursor-theme
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Default Plasma cursor theme.
 This is the default cursor theme for the KDE Plasma 5 desktop.
 .
 This package is part of the KDE base workspace module.

Package: breeze-icon-theme
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Default Plasma icon theme.
 This is the default icon theme for the KDE Plasma 5 desktop.
 .
 This package is part of the KDE base workspace module.

Package: kwin-style-theme
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Kwin Style theme.
 This is a Kwin style theme for the KDE Plasma 5 desktop.
 .
 This package is part of the KDE base workspace module.

Package: kde-style-breeze
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Kwin Style theme.
 This is a Kwin style theme for the KDE Plasma 5 desktop.
 .
 This package is part of the KDE base workspace module.
